#login_form {
    position: absolute;
    left: 77%;
    font-size: 18px;
}

#profile {
    position: absolute;
    left: 77%;
    font-size: 18px;
}

#logo_container {
	width: 180px;
    height: 100px;
    left: 500px;
	
}


@import "compass/css3";

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
	position: relative;
  	left: 350px;
  	width: 400px;
  	height: 30px;
  
}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 60px;
  padding: 0 46px 0 10px;
	border-color: #888;
  border-radius: 35px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 5px;
  margin-top: 15px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
	font-size: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  padding: 0;
  border: none;
	margin-top: 20px; /* margin-top + border-width */
  margin-right: 5px; /* border-width */
	background: transparent;
  color: #888;
  font-family: 'Helvetica', sans-serif;
  font-size: 40px;
  line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
 	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}



 .nav-main {
 	margin-left: 3%;
 	margin-right: 3%;
	margin-top: 30px;
 	width: 94%;
 	background-color: purple;
 	height: 50px;
 	color: yellow;
 	
 }
 
 .nav-main > ul{
 	
 	padding: 0; 
 	list-style-type: none;
  
 }
 
 .nav-main > ul > li{
 	float: left;
 	margin-left: 30px;
 }
 
 .nav-item {
 	display: inline-block;
 	padding: 15px 25px;
 	height: 20px;
 	line-hight: 40px;
 	margin : 0;
 }
 
 .nav-item:hover {
 	background-color: blue;
 	cursor: pointer;
 }
 
 .nav-option {
 	display: none;
 }
 
 .nav-content {
 	position: absolute;
 	top: 180px;
 	overflow: hidden;  
 	max-height: 0;
 	background-color: purple;
 	color: yellow;
 	z-index: 2;
 }
 
 .nav-content a {
 	color: white;
 	text-decoration: none; 
 }
 
 .nav-content a:hover {
 	text-decoration: underline;
 	
 	
 }
 
 .nav-sub {
 	padding: 20px;
 }
 
 .nav-sub ul {
 	padding: 0;
 	margin: 0;
 	list-style-type: none;
 }
 
 .nav-sub ul a{
 	display: inline-block;
 	padding: 5px 0;
 }
 
 .nav-option:checked + label {
 	
 	background-color: purple;      <!---what color the label becomes when we push it-->
 	
 }
 
 .nav-option:checked ~ .nav-content {
 	max-height:400px;
 	-webkit-transition: max-height 0.4s ease-in;
 	-moz-transition: max-height 0.4s ease-in;
 	transition: max-height 0.4s ease-in;
 }
 
 .nav-option:checked ~ .nav-close {
 	display: block;
 }
  
 .nav-close {
 	display: none;
 	position: absolute;
 	merge-top: 150px;
 	left:0;
 	height: 100%;
 	width: 100%;
 	
 }
 
 .nav-close-option {
 	display: none;
 }
 
 .main-image {
   position: absolute;
 	left: 4%;
    top:  36%;
 }
 
 .right {
 	position: relative;
    margin-left: 64%;
    margin-top: 2.5%;
    padding-top: 445px; 
    width: 430px;
    border-radius: 10px;
    border: solid;
    border-color: purple;
 }
 
 
 
 .second-picture {
 	position: relative;
 	top: 250px;
 	left: 20px;
 	right: 80px;
 	bottom: 20px;
 	border-radius: 10%;
 	border: 3px	outset  purple;
 }
 
 
 body, html {
 	margin: 0;
 	font : 1em;
 	
 }