#product {
    position: absolute;
    left: 30%;
    font-size: 18px;
	border-collapse: collapse;
}

#product_picture {
    height: 200px;
    width: 200px;
}

#cart{
	font-size: 22px;
	color: yellow;
	background-color: purple;
	border-collapse: separate;
    border-spacing: 5px, 50px;
}

#product-title{
	color: purple;
	padding-bottom: 10px;
	padding-top: 10px;
	font-size: 22px;
	word-break: normal;
	width: 400px;
}

#price {
    background-color: yellow;
 	bold;
	color: #4C193E;
	font-size: 20px;
	width: 170px;
	border-style: ridge;
	border-color: purple;
	border-radius: 8px;
}

#description{
	width: 400px;
	max-width 400px;
	word-break: normal;
	padding-left: 10px;
	padding-right: 10px;
}
#rowproduct{
	border-style: solid;
	border-color: purple;
	border-radius: 8px;
	border-bottom: 3px solid purple;
	display: block;
}

#availability{
	text-align: center;
	padding-bottom: 10px;
}
	
#buy-button{
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}

#page-navi{
	list-style: none;
    overflow: hidden;
	position: relative;
	width: 230px;
	background-color: purple;
	border-radius: 8px;
	left: 37%;
}

#image400 {
    height: 400px;
    width: 400px;
}

#left{
	float: left;
}

li {
	color; purple;
	list-style-type: none;
	background-color: purple;
}

li a {
	list-style-type: none;
    display: inline-block;
    color: yellow;
    text-align: center;
    padding: 14px 14px;	
    text-decoration: none;
	color; purple;
	
}

li a:hover {
    background-color: blue;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:2px solid purple;
	display:inline-block;
	cursor:pointer;
	color: #563c5c;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

.spacer{
	height: 25px;
	width: 50px;
}

.success {
	margin-left:auto;
  	margin-right:auto;
	height: 100 px;
	width: 50 px;
	font-family:Arial, sans-serif;
	font-size:2em;
	letter-spacing:0.2em;
	line-height:1.3em;
	color:#FFFF00;
	background-color:
	#CC00CC;padding:1.5em;
}